<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>文章详情</title>
    <link href="__TPLSOUR__/{$vars['currenttpl']}/css/pc/style.css" rel="stylesheet">
    <link href="__TPLSOUR__/{$vars['currenttpl']}/css/pc/help_center_detail.css" rel="stylesheet">
    <style type="text/css">
        .intro-word{
            border-bottom: solid 1px;
            border-bottom-color: red;
        }
        .text-contents{
            margin-top: 30px;
        }
    </style>
<body>
    <div id="hd">
    </div>
    <div id="bd" class="main-content">
        <div class="content-zone clearfix">
            <div class="real-content">
                <div class="real-content-inner">
                    <div class="intro-word"></div>
                    <div class="date-contents"></div>
                    <div class="text-contents"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="ft" class="login-ft">
  <div class="footer-copyright">
    <p class="clearfix links">
      <a href="javascript:;" target="_blank">关于我们</a>
      <a href="javascript:;" target="_blank">法律声明</a>
      <a href="javascript:;">服务条款</a>
      <a href="javascript:;" target="_blank">联系方式</a>
    </p>
    <p style="font-family:arial;">地址：江苏省南京市建邺区88号&nbsp;&nbsp;增值电信业务许可证B1-20160901&nbsp;&nbsp;COPYRIGHT&nbsp;&nbsp;©&nbsp; 2009-2016<a href="http://www.uimaker.com">uimaker</a>&nbsp;版权所有&nbsp;ICP证：苏A2-20100101</p>
    <p style="font-family:arial;">增值电信营业许可证B1-20150962&nbsp;&nbsp;云平台&nbsp;&nbsp;版权所有</p>
  </div>
</div>
    <script src="__JS__/jquery-2.1.1.js"></script>
    <!-- layer插件js -->
    <script src="__JSPLU__/layer/layer.js"></script>
    <!-- 网站导航json数据 -->
    <script src="__JSON__/webmap.js"></script>
    <!-- 引入文章分类json数据 -->
    <script src="__JSON__/articleclassify.js"></script>
    <!-- 通用js -->
    <script src="__TPLSOUR__/{$vars['currenttpl']}/js/pc/common.js"></script>
    <!-- 本页面js -->
    <script src="__TPLSOUR__/{$vars['currenttpl']}/js/pc/artdetail.js"></script>
    <script type="text/javascript">
    
    //获取url(使用tp内置的url制作url)
        /*
         * @param path[String][必须] //要制作的地址[字符串类型]
         * @param param[String|Array][非必须]   //制作url时需要带的参数[字符串类型或者数组]
         */
        function get_url(path, param){
            return make_url("{:url('common/tool/get_url')}", path, param);
        }
        var id = "{$Request.param.id}";
    
    $('.item-name').on('click', function (ev) {
        var $par = $(this).closest('li');
        $par.siblings().removeClass('open');
        $par.toggleClass('open');
        return false;
    });

    $('.intro-list').on('click','li', function (ev) {
        $('.intro-list li').removeClass('current');
        if(!$(this).hasClass('has-child')){
             $(this).addClass('current');
        }
        return false;
    });

    </script>
</body>
</html>